In [7]:
import pandas as pd
pd.set_option('max_columns', 100)
pd.set_option('max_rows', 100)
import numpy as np

In [60]:
train = pd.read_csv(r'./train.csv')
test = pd.read_csv(r'./test.csv')
submit = pd.read_csv(r'./submit.csv')

In [61]:
print(train.shape)
print(test.shape)
train.nunique()

(40000, 21)
(15000, 20)

id            40000
XINGBIE           3
CSNY            393
HYZK              4
ZHIYE             7
ZHICHEN           4
ZHIWU             2
XUELI             2
DWJJLX           28
DWSSHY           21
GRJCJS        12447
GRZHZT            5
GRZHYE        34927
GRZHSNJZYE    37759
GRZHDNGJYE    31580
GRYJCE        16045
DWYJCE        16045
DKFFE           545
DKYE          21359
DKLL              8
label             2
dtype: int64

In [62]:
# 先把训练集和测试集拼接起来,一起处理
data = pd.concat([train, test])
data.shape

(55000, 21)

In [63]:
import time
def timeConvert(x):
    year = time.strftime("%Y", time.localtime(x))
    age = 2020 -int(year)
    return age
data['age'] = data['CSNY'].apply(timeConvert)
data.drop('CSNY', axis=1, inplace=True)

In [64]:
data.dtypes

DKFFE           int64
DKLL          float64
DKYE          float64
DWJJLX          int64
DWSSHY          int64
DWYJCE        float64
GRJCJS        float64
GRYJCE        float64
GRZHDNGJYE    float64
GRZHSNJZYE    float64
GRZHYE        float64
GRZHZT          int64
HYZK            int64
XINGBIE         int64
XUELI           int64
ZHICHEN         int64
ZHIWU           int64
ZHIYE           int64
id             object
label         float64
age             int64
dtype: object

In [65]:
sparse_feat = ['XINGBIE', 'HYZK', 'ZHIYE', 'ZHICHEN', 'ZHIWU', 'XUELI', 'DWJJLX', 'DWSSHY', 'GRZHZT']
dense_feat = list(data.columns)
for item in sparse_feat:
    dense_feat.remove(item)
dense_feat.remove('id')
dense_feat.remove('label')
dense_feat

['DKFFE',
 'DKLL',
 'DKYE',
 'DWYJCE',
 'GRJCJS',
 'GRYJCE',
 'GRZHDNGJYE',
 'GRZHSNJZYE',
 'GRZHYE',
 'age']

In [66]:
from sklearn.preprocessing import LabelEncoder
for feat in dense_feat:
    encoder = LabelEncoder()
    data[sparse_feat] = data[sparse_feat].apply(encoder.fit_transform)

In [67]:
# 做归一化
data[dense_feat] = (data[dense_feat] - data[dense_feat].min()) / (data[dense_feat].max() - data[dense_feat].min())

In [68]:
data.head(10)

,DKFFE,DKLL,DKYE,DWJJLX,DWSSHY,DWYJCE,GRJCJS,GRYJCE,GRZHDNGJYE,GRZHSNJZYE,GRZHYE,GRZHZT,HYZK,XINGBIE,XUELI,ZHICHEN,ZHIWU,ZHIYE,id,label,age
0,0.477612,0.324240,0.466942,9,12,0.043651,0.073615,0.043651,0.821980,0.001735,0.008151,0,3,1,1,3,0,6,train_0,0.0,0.994860
1,0.850746,0.535464,0.904340,1,0,0.366342,0.318249,0.366342,0.822758,0.162919,0.048629,0,3,2,1,3,0,6,train_1,0.0,0.997513
2,0.402985,0.324240,0.446387,9,9,0.798758,0.736924,0.798758,0.843771,0.042212,0.074204,0,3,1,1,3,0,6,train_2,0.0,0.996352
3,1.000000,0.324240,0.911625,9,7,0.780711,0.719450,0.780711,0.826869,0.305884,0.304666,0,3,1,1,3,0,6,train_3,0.0,0.998010
4,0.402985,0.324240,0.439850,27,14,0.052655,0.094537,0.052655,0.819249,0.033188,0.000000,0,3,2,1,3,0,6,train_4,0.0,0.997347
5,0.402985,0.324240,0.453682,9,14,0.038216,0.031383,0.038216,0.821758,0.021993,0.025685,0,3,1,1,3,0,6,train_5,0.0,0.997679
6,0.402985,0.324240,0.444519,11,2,0.370317,0.504456,0.370317,0.839186,0.036727,0.061706,0,3,1,1,3,0,6,train_6,0.0,0.997347
7,0.328358,0.324240,0.196340,9,7,0.047879,0.047423,0.047879,0.822708,0.018969,0.004288,0,3,1,1,3,0,6,train_7,0.0,0.994528
8,0.850746,0.535464,0.820365,9,9,0.487512,0.435568,0.487512,0.840128,0.160313,0.215787,0,3,2,1,3,0,6,train_8,0.0,0.997015
9,0.641791,0.324240,0.431085,9,14,0.260659,0.215924,0.260659,0.820957,0.187253,0.004836,0,3,2,1,3,0,6,train_9,0.0,0.997844

In [69]:
data.columns

Index(['DKFFE', 'DKLL', 'DKYE', 'DWJJLX', 'DWSSHY', 'DWYJCE', 'GRJCJS',
       'GRYJCE', 'GRZHDNGJYE', 'GRZHSNJZYE', 'GRZHYE', 'GRZHZT', 'HYZK',
       'XINGBIE', 'XUELI', 'ZHICHEN', 'ZHIWU', 'ZHIYE', 'id', 'label', 'age'],
      dtype='object')

In [70]:
# 调整列的排序
new_index = ['id'] + sparse_feat + dense_feat + ['label']
data = data.reindex(columns=new_index)

In [71]:
data.head(10)

,id,XINGBIE,HYZK,ZHIYE,ZHICHEN,ZHIWU,XUELI,DWJJLX,DWSSHY,GRZHZT,DKFFE,DKLL,DKYE,DWYJCE,GRJCJS,GRYJCE,GRZHDNGJYE,GRZHSNJZYE,GRZHYE,age,label
0,train_0,1,3,6,3,0,1,9,12,0,0.477612,0.324240,0.466942,0.043651,0.073615,0.043651,0.821980,0.001735,0.008151,0.994860,0.0
1,train_1,2,3,6,3,0,1,1,0,0,0.850746,0.535464,0.904340,0.366342,0.318249,0.366342,0.822758,0.162919,0.048629,0.997513,0.0
2,train_2,1,3,6,3,0,1,9,9,0,0.402985,0.324240,0.446387,0.798758,0.736924,0.798758,0.843771,0.042212,0.074204,0.996352,0.0
3,train_3,1,3,6,3,0,1,9,7,0,1.000000,0.324240,0.911625,0.780711,0.719450,0.780711,0.826869,0.305884,0.304666,0.998010,0.0
4,train_4,2,3,6,3,0,1,27,14,0,0.402985,0.324240,0.439850,0.052655,0.094537,0.052655,0.819249,0.033188,0.000000,0.997347,0.0
5,train_5,1,3,6,3,0,1,9,14,0,0.402985,0.324240,0.453682,0.038216,0.031383,0.038216,0.821758,0.021993,0.025685,0.997679,0.0
6,train_6,1,3,6,3,0,1,11,2,0,0.402985,0.324240,0.444519,0.370317,0.504456,0.370317,0.839186,0.036727,0.061706,0.997347,0.0
7,train_7,1,3,6,3,0,1,9,7,0,0.328358,0.324240,0.196340,0.047879,0.047423,0.047879,0.822708,0.018969,0.004288,0.994528,0.0
8,train_8,2,3,6,3,0,1,9,9,0,0.850746,0.535464,0.820365,0.487512,0.435568,0.487512,0.840128,0.160313,0.215787,0.997015,0.0
9,train_9,2,3,6,3,0,1,9,14,0,0.641791,0.324240,0.431085,0.260659,0.215924,0.260659,0.820957,0.187253,0.004836,0.997844,0.0

In [72]:
data.shape

(55000, 21)

In [77]:
# 把处理好的数据表进行拆分, 得到训练集和测试集
transform_train = data.iloc[:40000, :]
transform_test = data.iloc[40000:, :-1]     #不需要label列
print(transform_test.shape)

(15000, 20)

In [78]:
transform_test.head(10)

,id,XINGBIE,HYZK,ZHIYE,ZHICHEN,ZHIWU,XUELI,DWJJLX,DWSSHY,GRZHZT,DKFFE,DKLL,DKYE,DWYJCE,GRJCJS,GRYJCE,GRZHDNGJYE,GRZHSNJZYE,GRZHYE,age
0,test_0,1,3,6,3,0,1,10,10,0,0.283582,0.324240,0.000000,0.065327,0.123983,0.065327,0.822867,0.040408,0.046148,0.997513
1,test_1,1,3,6,3,0,1,9,11,0,0.552239,0.324240,0.541149,0.026978,0.034870,0.026978,0.821299,0.005870,0.009679,0.997015
2,test_2,1,3,6,3,1,1,1,15,0,0.402985,0.422447,0.444084,0.423878,0.373956,0.423878,0.822930,0.107450,0.140688,1.000000
3,test_3,2,3,6,3,0,1,9,10,0,0.691045,0.535464,0.733928,0.176372,0.169702,0.176372,0.810555,0.001470,0.001496,0.997347
4,test_4,1,3,6,3,0,1,9,2,0,0.253731,0.324240,0.218740,0.350936,0.303332,0.350936,0.846954,0.082646,0.110490,0.999834
5,test_5,1,3,6,3,0,1,9,0,0,0.402985,0.324240,0.393419,0.170616,0.251143,0.170616,0.827171,0.018755,0.035444,0.998010
6,test_6,1,3,6,3,0,1,1,14,0,0.850746,0.324240,0.833171,0.227206,0.183534,0.227206,0.820177,0.026400,0.002474,0.996352
7,test_7,1,3,6,3,0,1,9,7,0,0.588060,0.324240,0.611464,0.025477,0.031383,0.025477,0.819931,0.000472,0.000261,0.996684
8,test_8,1,3,6,3,0,1,9,14,0,0.402985,0.324240,0.205495,0.038216,0.031383,0.038216,0.820391,0.000197,0.000543,0.998839
9,test_9,1,3,6,3,0,1,9,2,0,0.462687,0.324240,0.437615,0.216388,0.216195,0.216388,0.829043,0.039830,0.026367,0.996684

In [87]:
# 存储处理好的数据
import pickle
with open(r'./train_T.pkl', 'wb') as f:
    pickle.dump(transform_train, f)
with open(r'./test_T.pkl', 'wb') as f:
    pickle.dump(transform_test, f)

In [86]:
# 存储数据集的信息, 构建input_dict字典
import json
input_dict = {'sparse': None, 'dense': None}
input_dict['dense'] = len(dense_feat)
input_dict['sparse'] = list(data[sparse_feat].nunique())
with open(r'./info.json', 'w') as f:
    json.dump(input_dict, f)
input_dict

{'dense': 10, 'sparse': [3, 4, 7, 4, 2, 2, 28, 21, 5]}

In [ ]:
# 尝试使用GBDT